@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1653899162151') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shutiao:before {
  content: "\e658";
}

.icon-zhenzhunaicha:before {
  content: "\e659";
}

.icon-xuegao:before {
  content: "\e65a";
}

